@import 'basic.scss';

.img {
	vertical-align: top;
	width: 100%;
}

.about {
	#content{
		.feature {
			background-image: url(https://picsum.photos/1920/1080);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			padding: 100px 0;			
		}
		.col-4 {
			text-align: center;
			padding:20px;
			box-sizing: border-box;
		}

		.col-6{
			box-sizing: border-box;
			padding: 30px;
			img{
				width: 100%;
			}
		}

		.team-member{
			padding-bottom: 100px;
			.cover {
				position: relative;
				img{
	
					vertical-align: top;
					width: 100%;
				}
			}

			.hover {
				background-color: rgba(255, 255, 255, 0.9);
				border-style: solid;
				border-width: 20px;
				border-color: rgb(0, 0, 0, 0.1);
				padding: 0 30px;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				position: absolute;
				opacity: 0;
				&:hover {
					opacity: 1;
					transition: all 0.3s;
				}
				ul{
					padding: 0;
					display: inline-block;
					position: relative;
					bottom: -150px;
					li {						
						float: left;
						list-style-type: none;
						letter-spacing: 10px;
						font-size: 18px;					
						a{
							text-decoration: none;
							text-transform: uppercase;
							color:$gray-text;							
						}
					}
				}
			}

			h3{
				margin: 30px 0;
				font-weight: normal;
				text-transform: uppercase;
				letter-spacing: 2px;
				font-size: 14px;
			}
			.intro{
				margin-bottom: 100px;
			}

			.info {
				float: left;
			}

			.name {
				font-weight: normal;
				font-size: 14px;
				letter-spacing: 1px;
				margin: 20px 0;			
			}
			.title {
				text-transform: uppercase;
				color: #a5a5a5;
				font-size: 12px;
				letter-spacing: 1px;
				margin: 0;
			}
		}

		.gray-bg{
			background-color: #f5f5f5;
			padding: 100px 0;
			text-align: center;
			text-transform: uppercase;
			color: #323232;
			.count{
				font-size: 36px;
				font-weight: normal;
			}

			h4 {
				margin: 0;
				font-size: 14px;
				font-weight: normal;
			}

			.container{
				margin-top: 0;
			}

			i{
				font-size: 36px;
				line-height: 2;
			}
		}

		.clients{
			padding: 100px 0;

			.col-2{
				margin-top: 100px;
				padding: 0 20px;

				img{
					width: 100%;				
				}
			}
		}

	}
}

