@import 'basic.scss';

.img {
	vertical-align: top;
	width: 100%;
}

.contact {
	#content {
		.title {
			font-size: 18px;
			letter-spacing: 2px;
		}
	}
	.contact-info {
		color: $gray-text;
		text-decoration: none;
		line-height: 2;
		a {
			text-decoration: none;
			color: $gray-text;
		}
		.address {
			margin-bottom: 30px;
		}
	}

}